<div class="route-configure">
  <h3 contenteditable="true"><%= name %></h3>
  <hr />
  <div class="colours">
    <span class="red"></span>
    <span class="purple"></span>
    <span class="green"></span>
    <span class="blue"></span>
    <span class="orange"></span>
    <span class="pink"></span>
    <span class="yellow"></span>
    <span class="grey"></span>
  </div>
  <hr />
  <input name="follow" type="submit" value="Follow Route" />
</div>
