<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Quick Start Guide Example</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

</head>
<body>
    <div id="map" style="width: 600px; height: 400px"></div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

     <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <script>

        var map = L.map('map').setView([51.383198, -2.359123], 13);

        L.tileLayer('http://{s}.tile.cloudmade.com/64933b0e195f401bb1de7230d381bf66/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        }).addTo(map);

        var routes = [
                        [
                            [51.382022, -2.359086],
                            [51.381778, -2.35893],
                            [51.381526, -2.360402],
                            [51.381423, -2.361608],
                            [51.380610999999995, -2.3614029999999997],
                            [51.380565, -2.361392],
                            [51.380401, -2.362117],
                            [51.380213999999995, -2.36219],
                            [51.380489, -2.362991],
                            [51.381549, -2.3658129999999997],
                            [51.382556, -2.364979],
                            [51.382686, -2.365389],
                            [51.383464, -2.365499],
                            [51.383373, -2.366085],
                            [51.383663, -2.364352],
                            [51.383724, -2.364403],
                            [51.384231, -2.364537],
                            [51.384398999999995, -2.363425],
                            [51.384563, -2.36349],
                            [51.384899, -2.361974],
                            [51.383342, -2.361272],
                            [51.383193, -2.361135],
                            [51.383094, -2.361007],
                            [51.382594999999995, -2.3606819999999997],
                            [51.382297, -2.360567],
                            [51.382328, -2.360245],
                            [51.382179, -2.360203],
                            [51.382244, -2.359132],
                            [51.382022, -2.359086],
                            [51.381522999999994, -2.357844],
                            [51.380812999999996, -2.3571969999999998],
                            [51.380835999999995, -2.356029],
                            [51.380843999999996, -2.355731],
                            [51.380859, -2.354969],
                            [51.382495, -2.356452],
                            [51.383644, -2.35412],
                            [51.383792, -2.35411],
                            [51.383953, -2.354278],
                            [51.384307, -2.354645],
                            [51.384029, -2.355371],
                            [51.383491, -2.3567549999999997],
                            [51.383148, -2.35765],
                            [51.382960999999995, -2.358165],
                            [51.382639999999995, -2.357973],
                            [51.382244, -2.359132],
                            [51.382022, -2.359086]
                        ],
                        [
                            [51.382022, -2.359086],
                            [51.382427, -2.3591729999999997],
                            [51.382759, -2.359267],
                            [51.383232, -2.3594619999999997],
                            [51.385203999999995, -2.360764],
                            [51.391020999999995, -2.364197],
                            [51.391883, -2.365417],
                            [51.391998, -2.364705],
                            [51.39196, -2.363861],
                            [51.392275999999995, -2.363739],
                            [51.392489999999995, -2.363544],
                            [51.390696999999996, -2.361884],
                            [51.388908, -2.361958],
                            [51.388866, -2.3620769999999998],
                            [51.385203999999995, -2.360764],
                            [51.383232, -2.3594619999999997],
                            [51.382728, -2.359172],
                            [51.382728, -2.3590809999999998],
                            [51.382022, -2.359086]
                        ],
                        [
                            [51.382297, -2.360567],
                            [51.382328, -2.360245],
                            [51.382179, -2.360203],
                            [51.382244, -2.359132],
                            [51.382022, -2.359086],
                            [51.381522999999994, -2.357844],
                            [51.380812999999996, -2.3571969999999998],
                            [51.380835999999995, -2.356029],
                            [51.380843999999996, -2.355731],
                            [51.380859, -2.354969],
                            [51.382495, -2.356452],
                            [51.383644, -2.35412],
                            [51.383792, -2.35411],
                            [51.383953, -2.354278],
                            [51.384307, -2.354645],
                            [51.384029, -2.355371],
                            [51.383491, -2.3567549999999997],
                            [51.383148, -2.35765],
                            [51.382960999999995, -2.358165],
                            [51.382639999999995, -2.357973],
                            [51.382244, -2.359132],
                            [51.382022, -2.359086]
                        ]
                    ];
/*
        var route1 = null;
        $.get("http://localhost:9000/api/paths", function( data ) {
          alert( "Data Loaded: " + data );
          console.log(data);
          route1 = data;
        })
        .fail(function() {
            alert( "error" );
        });
*/

        function randColour() {
            var colours = ['red', 'purple', 'green', 'blue', 'orange', 'pink', 'yellow'];
            return colours[Math.floor(Math.random() * colours.length)];
        }

        var i = 0;
        var routelength = 0;
        var interval = null;
        var intervalTime = 300;
        var line;

        function resetMap() {
            clearInterval(interval);
            clearMap();
            map.setView([51.383198, -2.359123], 13);
            $( ".route_button" ).removeAttr('disabled');
            i = 0;
        }

        function clearMap() {
            if(typeof line === "object") {
                map.removeLayer(line);
            }
        }

        function drawRoute(mode, route) {
            clearMap();
            routelength = route.length;
            interval = setInterval(function(){drawLines(mode, route)}, intervalTime);
        }

        function drawLines(mode, route) {
            $( ".route_button" ).attr('disabled','disabled');
            if(i == 0) {
                latlng = [route[i], route[i+1]];
                line = L.polyline(latlng, { color: 'red' }).addTo(map);

                i++;
            }
            else if(i < routelength-1) {
                latlng = [route[i], route[i+1]];
                line.addLatLng(route[i+1]);

                if(mode == "follow") {
                    // zoom the map to the polyline
                    var bounds = new L.LatLngBounds(latlng);
                    map.fitBounds(bounds);
                } else if(mode == "overview") {
                    map.fitBounds(line.getBounds());
                }

                i++;
            } else {
                clearInterval(interval);
                i = 0;
                $( ".route_button" ).removeAttr('disabled');
            }
        }

        var popup = L.popup();

        function onMapClick(e) {
            //interval = setInterval(function(){drawRoute("follow")}, 100);
        }

        map.on('click', onMapClick());

    </script>

    <button class="button route_button" onclick="drawRoute('follow', routes[0])">Follow route</button>
    <button class="button route_button" onclick="drawRoute('overview', routes[0])">Follow route (overview)</button>
    <button class="button route_button" onclick="drawRoute('follow', routes[1])">Follow route 2</button>
    <button class="button route_button" onclick="drawRoute('overview', routes[1])">Follow route 2 (overview)</button>
    <button class="button route_button" onclick="drawRoute('follow', routes[2])">Follow route 3</button>
    <button class="button route_button" onclick="drawRoute('overview', routes[2])">Follow route 3 (overview)</button>

    <button onclick="resetMap()">Cancel</button>
</body>
</html>
